body {
  background-color: gray;
  padding: 100px 0;
}

#canvas {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#canvas .shape {
  position: absolute;
  background-color: cornflowerblue;
  border: solid midnightblue 1px;
}

#canvas .shape.drawing {
  background-color: lightblue;
  border: dashed cornflowerblue 1px;
}

.signal-draw #canvas,
.start-draw #canvas,
.draw #canvas,
.end-draw #canvas {
  cursor: crosshair;
}

.signal-move #canvas,
.end-move #canvas {
  cursor: -webkit-grab;
  cursor: grab;
}

.move #canvas,
.start-move #canvas,
.resize #canvas {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.signal-resize-nesw #canvas {
  cursor: nesw-resize;
}

.signal-resize-nwse #canvas {
  cursor: nwse-resize;
}

.signal-resize-vertical #canvas {
  cursor: ns-resize;
}

.signal-resize-horizontal #canvas {
  cursor: ew-resize;
}
